@import '@splidejs/svelte-splide/css/splide-core.min.css';

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.splide__pagination {
  counter-reset: pagination-num;
}

.splide__pagination__page.is-active {
  background-color: var(--color-secondary-1);
  border-color: var(--color-secondary-1);
  color: var(--color-charcoal);
}

.splide__pagination__page::before {
  counter-increment: pagination-num;
}
