@layer utilities {
  /** Visually Hidden */
  .visually-hidden {
    position: absolute !important; /* stylelint-disable-line declaration-no-important */
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .clip-path-hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    aspect-ratio: 45 / 39;
  }

  [class*="after:clip-path-hexagon"] {
    &::after {
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      aspect-ratio: 45 / 39;
    }
  }

  h1 {
    @apply text-title leading-[1.25] font-heading font-bold mb-1 md:mb-0;
  }

  h2 {
    @apply text-xl font-heading mb-1 md:mb-2;
  }

  h3 {
    @apply text-large font-bold font-heading mb-1 leading-[1.125];
  }

  h4 {
    @apply text-medium font-heading mb-0.75;
  }

  h5 {
    @apply text-small mb-0.75;
  }

  h6 {
    @apply text-xs mb-0.75 font-bold capitalize;
  }

  p {
    @apply text-base mt-0.75 mb-0.75;

    &:first-child {
      @apply mt-0;
    }

    &:last-child {
      @apply mb-0;
    }
  }

  ul:not([class]) {
    @apply text-base list-disc ml-1;
  }

  ol:not([class]) {
    @apply text-base list-decimal ml-1;
  }

  a {
    @apply text-secondary-1 animated-underline;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .ReactModal__Overlay {
    @apply z-1 bg-black/40 transition opacity-0 p-1 md:p-3 overflow-y-auto;
  }

  .ReactModal__Overlay--after-open{
    @apply opacity-100;
  }

  .ReactModal__Overlay--before-close{
    @apply opacity-0;
  }

  .ReactModal__Content {
    @apply bg-nearblack border-0 shadow-xl m-auto p-2 pl-2 pr-2 rounded-xl max-w-6xl transition -translate-y-full overflow-auto;
  }

  .ReactModal__Content--after-open{
    @apply translate-y-0;
  }

  .ReactModal__Content--before-close{
    @apply -translate-y-full;
  }

}

/* Animated Underline (hide on hover) */
@utility animated-underline {
  @apply no-underline bg-[linear-gradient(90deg,var(--tw-current),var(--tw-current))] [--tw-current:currentColor] bg-bottom-left bg-size-[100%_1px] hover:bg-size-[0_1px] bg-no-repeat transition-[background-size] ease-in-out;
}

/* Animated Underline - Inverse (show on hover) */
@utility animated-underline-reverse {
  --tw-current: currentColor; /* Fix firefox currentColor variable bug */

  @apply no-underline bg-[linear-gradient(90deg,var(--tw-current),var(--tw-current))] [--tw-current:currentColor] bg-bottom-left bg-size-[0_1px] hover:bg-size-[100%_1px] bg-no-repeat transition-[background-size] duration-initial ease-in-out;
}
