@theme {
  /* -- Colors -- */
  --color-primary-6: #262338;
  --color-primary-5: #35324f;
  --color-primary-4: #514c78;
  --color-primary: #69629b;
  --color-primary-1: #887fc9;
  --color-primary-2: #a399f2;
  --color-primary-3: #C5BFF8;
  --color-secondary: #629c7f;
  --color-secondary-1: #7fc9a4;
  --color-secondary-2: #E2FFE5;
  --color-neutral-5: #615663;
  --color-neutral-4: #7d6e78;
  --color-neutral: #ab9fa7;
  --color-neutral-1: #d9d1d6;
  --color-neutral-2: #efeaed;
  --color-offwhite: #e7e5f2;
  --color-nearblack: #1E1B2B;
  --color-charcoal: #242424;

  --color-error-4: #8A1B0A;
  --color-error: #BC5140;
  --color-error-1: #F48576;
  --color-error-2: #FBDEDB;

  /* -- Fonts -- */
  /* Sizes */
  --text-base: clamp(20px, calc(24 / 1280 * 1vw), 24px);
  /* H1 */
  --text-title: clamp(54px, calc(60 / 1280 * 1vw), 60px);
  /* H2 */
  --text-xl: clamp(48px, calc(58 / 1280 * 1vw), 58px);
  /* H3 */
  --text-large: clamp(36px, calc(42 / 1280 * 1vw), 42px);
  --text-lg: var(--text-large);
  /* H4 */
  --text-medium: clamp(30px, calc(36 / 1280 * 1vw), 36px);
  --text-md: var(--text-medium);
  /* H5 */
  --text-small: clamp(24px, calc(28 / 1280 * 1vw), 28px);
  --text-sm: var(--text-small);
  /* H6 */
  --text-xs: clamp(20px, calc(24 / 1280 * 1vw), 24px);

  /* Heading */
  --font-urbanist: 'Urbanist', sans-serif;
  --font-heading: var(--font-urbanist);

  /* Sans-serif body */
  --font-roboto:
    'roboto', 'Ubuntu', 'Roboto', Helvetica, Arial, sans-serif;
  --font-sans: var(--font-roboto);

  /* -- Spacing -- */
  --spacing: 16px;
  --content-max-width: var(--breakpoint-2xl);
  --header-offset: var(--drupal-displace-offset-top, 0);

  /* -- Transition -- */
  --default-transition-duration: 400ms;
}
