.tabs__wrapper {
  margin-block: 16px 0 16px;
}

.tabs {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  margin-left: 24px;
  list-style-type: none;
}

.tabs .tabs__item {
  border: 4px solid var(--color-primary-5);
  border-left-width: 0;
  border-bottom-width: 0;

  &:first-child {
    border-left-width: 4px;
  }
}

.tabs .tabs__link {
  flex: 0 0 max-content;
  background-color: var(--color-primary-5);
  color: var(--color-white);
  display: inline-block;
  padding: 10px 16px;
  transition: all ease-in-out 200ms;
}

.tabs .tabs__link:hover,
.tabs .tabs__link:focus,
.tabs .tabs__link:active {
  background-color: var(--color-primary-3);
  color: var(--color-nearblack);
  text-decoration: underline;
}

.tabs .tabs__link.is-active {
  background-color: var(--color-nearblack);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-white);
  }
}
