@import "tailwindcss";

/* 2. Third-party CSS */
@import '@splidejs/splide/dist/css/splide.min.css';

/* 3. Your global overrides / variables */
@import './global/_variables.css';
@import './global/_utilities.css';

@utility container {
  max-width: var(--breakpoint-2xl);
}

:root {
  @apply text-[16px] text-white bg-nearblack scheme-dark;
}

body {
  @apply text-[16px];
}

body * {
  @apply duration-initial transition-all ease-in-out;
}

*,
*::after,
*::before {
  scroll-margin-top: calc(var(--spacing) * 4);
  scroll-behavior: smooth;
  outline-color: var(--color-secondary-1);
}

button,
a {
  cursor: pointer;
}
